.user-card {
    align-items: center;
    text-align: center;
}

.display-user {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(174, 221, 240);
}

.user-list {
    margin-right: auto;
    align-items: center;
    text-align: center;
}

.users {
    align-items: center;
    text-align: center;
}