* {
    color: black;
    align-content: center;
}

.header {
  height: 50px;
  background-color: rgb(238, 167, 167);
  text-align: center;
  padding: auto;
}

.entered-text {
  color: black;
  size:50px;
}

.content {
    height: 80px;
    margin-top: 0px;
    text-align: center;
    padding-top: 20px;
    background-color: rgb(218, 214, 214);   
}
.content h2 {
  background-color:rgb(160, 226, 142)
}
.content input {
  text-align: center;
}

.counter {
  margin-top: 0px;
  height: 100px;
  text-align: center;
  background-color: rgb(135, 193, 218);
}