.App {
    align-items: center;
}

nav{
    color: white;
    height:10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color:rgb(186, 184, 184);

}

.pages {
    align-items: center;
}

.nav-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}